*~
*.bak
build
calicobuild.created
calico_containers/pycalico.egg-info/
calicoctl/calicoctl
calicoctl/calicoctl-*
caliconode.created
cover
.coverage
*.coverprofile
dist
env
etcd-driver
.idea
*.pyc
vendor
venv
